/*Navigation Bar styles*/
.topNavBar{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    background-color: white;
  }
.bottomNavBar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    padding: 0px 15px;
    background-color: white;
  }  
/*Item styles*/
  .NavLink{
    color: white;
    text-decoration: none;
  }
  .logo{
    float: left;
    padding-right: 15px;
  }
  .menuItem { /*A tyical menu button that links somewhere*/
    float: left;
    display: block;
    height: 95%;
    background-color: #e81e25;
    border-radius:10%;
    text-align: center;
    padding: 0px 15px;
    margin: 0px 10px;
  }
  .searchArea{
    float:right;
    margin: 0px 30px;
  }
  .inputNav{
    width: 200px;
  }
  .searchButton{
    float: right;
    display: block;
    height: 25%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    padding: 0px 15px;
    margin-left: 15px;
  }
  .contribute{
    float: right;
    display: block;
    height: 95%;
    background-color: #e81e25;
    border-radius:5%;
    text-align: center;
    padding: 0px 100px;
    margin-right: 10px;
  }
  .copyright{
    float: left;
  }
  .right{
    float: right;
    margin-right: 20px;
  }
  .menuText {
    float: left;
    display: block;
    height: 95%;
    text-align: center;
    padding: 0px 15px;
    margin: 0px 10px;
  }
  a{
    text-decoration: none;
  }
  