.activity {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  max-width: 300px;
  min-width: 300px;
  width: 30%;
  max-height: auto;
  min-height: 200px;
  height: 30%;
  background-color: #ffffff;
  border-radius: 2%;
}

.activityContents {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
}

.activityImage {
  border-radius: 2% 2% 0 0;
  height: 100%;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
}