.primaryButton {
    background-color: #E81E25;
    border: 1px solid black;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 32;
    color: #FFFFFF;
}
.secondaryButton {
    background-color: #896BAF;
    border: 1px solid black;
    border-radius: 10%;
    width: 100px;
    height: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 32;
    color: #FFFFFF;
}