.tagCard {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 2%;
    color: black;
    align-content: center;
  }
  
.tagCardContents {
    align-content: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
}
