#postNewActivities{
    text-align: center;
    width: 90%;
    margin: auto;
}
.postActivity {
    display: flex;
    justify-content: left;
}
.postActivityForm {
    align-self: center;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    margin-top: 1%;
    border: 1px solid black;
    border-radius: 2%;
    background-color: #ffffff;
    padding: 20px;
}
label {
    margin: 2%;
    margin-bottom: 0%;
    text-align: left;
}
input{
    width: 100%;
    border-radius: 2%;
    border: 1px solid #353535;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    height: 30px;
}
textarea{
    width: 100%;
    height: 200px;
    max-height: 1000px;
    border: 1px solid #353535;
    resize: none;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    overflow-y: auto;
}
.dynamicInputWrapper {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    margin:0 auto;
}
.dynamicInput {
  margin: 1%;
  width: 48%;
}
.addField {
    background-color: #896BAF;
    border: 1px solid #353535;
    border-radius: 50%;
    margin:2px;
    width: 30px;
    height: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}
.red {
    color: #ff0000;
}

/*organization of the form*/
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
