.activityDetailsWrapper {
  display: flex;
  justify-content: center;
}

.activityDetails {
  align-self: center;
  max-width: 1000px;
  width: 90%;
  margin: auto;
  margin-top: 1%;
  border: 1px solid black;
  border-radius: 2%;
  background-color: #ffffff;
}

.activityDetailsContents {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
}

.activityDetailsImage {
  border-radius: 2% 2% 0 0;
  height: 100%;
  width: 100%;
}